
/*body {*/
  /*font-family: Arial;*/
  /*padding: 25px;*/
  /*background-color: #f5f5f5;*/
  /*color: #808080;*/
  	/*text-align: center;*/
/*}*/

/*-=-=-=-=-=-=-=-=-=-=-=- */
/* Column Grids */
/*-=-=-=-=-=-=-=-=-=-=-=- */

.col_half { width: 49%; }
.col_third { width: 32%; }
.col_fourth { width: 18.5%; }
.col_fifth { width: 18.4%; }
.col_sixth { width: 15%; }
.col_three_fourth { width: 74.5%;}
.col_twothird{ width: 66%;}
.col_half,
.col_third,
.col_twothird,
.col_fourth,
.col_three_fourth,
.col_fifth{
	position: relative;
	display:inline;
	display: inline-block;
	float: left;
	margin-right: 3%;
	margin-left: 4%;
	margin-bottom: 20px;
}
.end { margin-right: 0 !important; }
/* Column Grids End */

.wrapper {width: 962px;margin: -52px auto;left: 5%;position: absolute;top: 105%;}
.counter { background-color: #E6E6E6; padding: 10px 0; border-radius: 5px;}
.count-text { font-size: 13px; font-weight: normal;  margin-top: 5px; margin-bottom: 0; text-align: center; }
.fa-2x-cont { margin: 0 auto; float: none; display: table;}
.count-title { font-size: 40px; font-weight: normal;  margin-top: 5px; margin-bottom: 0; text-align: center; }
.plotly-graph-div{height: 640px; width: 1024px;}