* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  font-smooth: always !important;
}

.profile-img {
  width: 35px;
  height: 35px;
  display: inline-block;
  vertical-align: middle;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background-size: cover;
}

.profile-img {
  width: 45px;
  height: 45px;
  display: inline-block;
  vertical-align: middle;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background-size: cover;
}

.profile-user{
width: 45px;
  height: 45px;
  display: inline-block;
  padding-left: 131%;

}

.title {
    width: 45px;
    height: 45px;
    display: inline-block;
    left: 82%;
    position: absolute;
    font-family: sans-serif;
  text-decoration: none !important;
}

.svg-container {
  position: absolute !important;
  top: 3% !important;
}

