{% load staticfiles %}

<!DOCTYPE html>

{% block html %}
<html lang="es">

    {% block head %}
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
        {% block title %}{% endblock %}

        <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">        
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/sidebar.css' %}">
        <link rel="stylesheet" href="{% static 'css/profile.css' %}">
        {% block extra_css %}{% endblock %}
    </head>
    {% endblock %}

    {% block body %}
    <body>
        {% block nav %}
        <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
        <!--<nav class="navbar navbar-expand-lg navbar-light bg-light">-->

            {% block nav_content %}
                {% block navbar_brand %}
                <div class="navbar-brand profile-img" style="background-image:url(/media/{{ image }})">
                    <div class="navbar-brand profile-user"><h2>{{ user }}</h2></div>
                </div>
                 <a class="title col-sm-9 col-md-6 col-lg-8 fa-2x text-white" href="index">pfServer</a>
                {% endblock %}

                <!--<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>-->

                {% block navbar_collapse %}
                <div class="collapse navbar-collapse" id="navbar">

                    {% block navbar_collapse_nav %}{% endblock %}

                </div>
                {% endblock %}

            {% endblock %}

        </nav>
        {% endblock %}

        <div class="mt-5"></div>

        {% block navbar_after %}{% endblock %}
        {% block sidebar %}
        <div class="sidebar col-sm">
            <ul class="nav nav-pills flex-column sidebar-nav">
                <li class="nav-item">
                    <a id="navbar-toggle">Close <i class="fa fa-bars menu-icon fa-2x" aria-hidden="true"></i></a>
                </li>
                <li class="nav-item">
                    <a href="index">Home <i class="fa fa-home menu-icon fa-2x" aria-hidden="true"></i></a>
                </li>
                <li class="nav-item">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">RaspBerrys
                        <i class="fa fa-desktop menu-icon fa-2x" aria-hidden="true"></i></a>
                    <ul class="dropdown-menu dropdown-inverse" style="background-color: #444444">
                        {% for ip in raspberrys %}
                        <li><a href="rasp/{{ip}}">{{ ip }}</a></li>
                        <!--<li><a href="#">{{ ip }}</a></li>-->
                        {% endfor %}
                    </ul>
                </li>
                {% if captures != None %}
                    <li class="nav-item">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Captures
                        <i class="fa fa-sitemap menu-icon fa-2x" aria-hidden="true"></i></a>
                            <ul class="dropdown-menu dropdown-inverse" style="background-color: #444444">
                                {% for date in captures %}
                                <a href="capture/{{date}}">{{date}}<i class="fa menu-icon fa-1x" aria-hidden="true"></i></a>
                                {% endfor %}
                            </ul>
                    </li>
                {% endif %}
                <li class="nav-item">
                    <a href="logout">log out<i class="fa fa-sign-out menu-icon fa-2x" aria-hidden="true"></i>
                        </a>
                </li>
            </ul>
        </div>
        {% endblock %}

        {% block body_content %}
            <div class="container col-sm-9 col-md-6 col-lg-8">
               {% block container %}{% endblock %}
            </div>
        {% endblock %}

        {% block foot %}
            <footer>
                {% block footer %}{% endblock %}
            </footer>
        {% endblock %}

        <script src="{% static 'js/jquery.min.js' %}"></script>
        <script src="{% static 'js/popper.min.js' %}"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
        <script src="{% static 'js/js.cookie.js' %}"></script>
        <script src="{% static 'js/csrf.js' %}"></script>
        <script src="{% static 'js/sidebar.js' %}"></script>
       {% block extra_js %}{% endblock %}

    </body>
    {% endblock %}

</html>
{% endblock %}