{% extends "bootstrap_base.html" %}
{% load staticfiles %}

{% block title %}{% endblock %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/counter.css' %}">
{% endblock %}

{% block navbar_after %}{% endblock %}

{% block container %}

        {% autoescape off %}
            {{ map }}
        {% endautoescape %}
        <div class="wrapper col-lg-12">
        <div class="counter col_fourth">
          <i class="fa fa-windows fa-2x fa-2x-cont"></i>
          <h2 class="timer count-title count-number" data-to="300" data-speed="1500">{{windowsCount}}</h2>
           <p class="count-text ">Windows</p>
        </div>

        <div class="counter col_fourth" id="linux">
          <i class="fa fa-linux fa-2x fa-2x-cont"></i>
          <h2 class="timer count-title count-number" data-to="1700" data-speed="1500">{{linuxCount}}</h2>
          <p class="count-text ">Linux/Unix</p>
        </div>

        <div class="counter col_fourth">
          <i class="fa fa-lightbulb-o fa-2x fa-2x-cont"></i>
          <h2 class="timer count-title count-number" data-to="11900" data-speed="1500">{{otherCount}}</h2>
          <p class="count-text ">Others</p>
        </div>

        <div class="counter col_fourth end">
          <i class="fa fa-laptop fa-2x fa-2x-cont"></i>
          <h2 class="timer count-title count-number" data-to="157" data-speed="1500" id="total">{{totalNodes}}</h2>
          <p class="count-text ">Total</p>
        </div>
    </div>
{% endblock %}
{% block extra_js %}
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
		<script>
			$(document).ready(function () {
    			//var table = $('#counter').val();
    			$("#counter").load("{% url 'logout' %} #total");
    				setInterval(function () {
        				//table.load("{% url 'refresh' %}");
		    			$("#counter").load("{% url 'logout' %} #total");
						//window.alert("pililas");
    			}, 9000);
			});
		</script>
{% endblock %}





