{% load staticfiles %}
<!DOCTYPE html>

{% block html %}
<html lang="es">

    {% block head %}
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link rel="stylesheet" href="{% static 'css/login.css' %}">
        {% block extra_css %}{% endblock %}
    </head>
    {% endblock %}
    {% block body %}
    <div class="login-card">
        <h1>Log-in</h1><br>
      <form action="login" method="post">
        {% csrf_token %}
        {{ form }}
        <input type="submit" name="buton" class="login login-submit" value="login">
      </form>

      <div class="login-help">
        {%if valid %}
          <h3>{{ valid }}</h3>
      {% endif %}
      </div>
    </div>
    {% endblock %}
{% endblock %}