{% extends "bootstrap_base.html" %}
{% load staticfiles %}

{% block title %}{% endblock %}

 {% block navbar_after %}{% endblock %}
        {% block sidebar %}
        <div class="sidebar col-sm">
            <ul class="nav nav-pills flex-column sidebar-nav">
                <li class="nav-item">
                    <a id="navbar-toggle">Close <i class="fa fa-bars menu-icon fa-2x" aria-hidden="true"></i></a>
                </li>
                <li class="nav-item">
                    <a href="../index">Home <i class="fa fa-home menu-icon fa-2x" aria-hidden="true"></i></a>
                </li>
                <li class="nav-item">
                    <a href="../logout">log out<i class="fa fa-sign-out menu-icon fa-2x" aria-hidden="true"></i>
                        </a>
                </li>
            </ul>
        </div>
        {% endblock %}


{% block container %}
 <div class="container" style="padding-top: 25px;">
     <h2>Node information with mac <b>{{mac}}</b>, and source ip <b>{{ipInfo}}</b></h2>
            <ul class="list-group">
                <li class="list-group-item">
                    <h1>S.O.  </h1>
                    <h3><i class="fa fa-angle-right fa-1x" aria-hidden="true"></i> {{SO}}</h3>
                </li>
                <li class="list-group-item">
                    <h1>Version  </h1><h3>-</h3>
                </li>
                <li class="list-group-item">
                    <h1>Vendor </h1>
                    <h3><i class="fa fa-angle-right fa-1x" aria-hidden="true"></i> {{vendor}}</h3>
                </li>
                <li class="list-group-item">
                    <h1>Ports  </h1>
                    <h3><i class="fa fa-angle-right fa-1x" aria-hidden="true"></i>
                        <b>Source: </b><br>{%for sP in sPorts%}<i style="padding-left:5em">{{sP}}</i>
                        <br>{% endfor %}</h3>
                    <h3><i class="fa fa-angle-right fa-1x" aria-hidden="true"></i>
                        <b>Target: </b><br>{%for dP in dPorts%}<i style="padding-left:5em">{{dP}}</i>
                        <br>{% endfor %}</h3>
                </li>
                <li class="list-group-item">
                    <h1>Posible services</h1>
                    <h3><i class="fa fa-angle-right fa-1x" aria-hidden="true"></i>
                        <b>Service source :</b><br>{%for i in serviceSource%}<i style="padding-left:5em">{{i}}</i>
                        <br>{% endfor %}</h3>
                    <h3><i class="fa fa-angle-right fa-1x" aria-hidden="true"></i>
                        <b>Description :</b><br>{%for sSource in descSource%}<i style="padding-left:5em">{{sSource}}</i>
                        <br>{% endfor %}</h3>
                    <h3><i class="fa fa-angle-right fa-1x" aria-hidden="true"></i>
                        <b>Service Target :</b><br>{%for sTar in serviceTarget%}<i style="padding-left:5em">{{sTar}}</i>
                        <br>{% endfor %}</h3>
                    <h3><i class="fa fa-angle-right fa-1x" aria-hidden="true"></i>
                        <b>Description :</b><br>{%for dTar in descTarget%}<i style="padding-left:5em">{{dTar}}</i>
                        <br>{% endfor %}</h3>
                </li>
                <li class="list-group-item">
                    <h1>Other information  </h1><h3>{%if Raw %}{{Raw}}{%else%}-{%endif%}</h3>
                </li>
            </ul>
 </div>

{% endblock %}