{% load static %}
<html xmlns="http://www.w3.org/1999/html">
<head>
	<title>{% block title %}Escáner Pasivo de Red{% endblock %}</title>
	<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
	{% block stylesheet %}{% endblock %}
</head>
<body>
<header><h1>Filtrado de datos</h1></header>
	<nav>
		<!--<form method="POST" action="/filterDb/" name="filter">
			{% csrf_token %}
			<input type= "submit" id = "" value ="Capturar" name="capture"/>
			<input type= "submit" id = "cancel" value ="Detener" name="stop"/>
		</form>
		{% if not time %}
		<div id="reloj">0: 00 : 00 : 00</div>
		{% else %}
		<div id="reloj">
			Tiempo total de la captura:</br>
			{{ time }}
		</div>
		{% endif %}-->
		<div class="container">
		  <ul>
			<li class="dropdown">
			  <input type="checkbox" />
			  <a href="#" data-toggle="dropdown">Análisis</a>
			  <ul class="dropdown-menu">
				  {% for key, value in analisis.items %}
				<li><a id ="analisisj" , href="">{{ value.fecha }}</a></li>
				  {% endfor %}
			  </ul>
			</li>
			<li class="dropdown">
			  <input type="checkbox" />
			  <a href="#" data-toggle="dropdown">Nodos</a>
			  <ul class="dropdown-menu">
				<li><a href="#">Home</a></li>
				<li><a href="#">About Us</a></li>
				<li><a href="#">Services</a></li>
				<li><a href="#">Contact</a></li>
			  </ul>
			</li>
			<li class="dropdown">
			  <input type="checkbox" />
			  <a href="#" data-toggle="dropdown">Paquetes</a>
			  <ul class="dropdown-menu">
				<li><a href="#">Home</a></li>
				<li><a href="#">About Us</a></li>
				<li><a href="#">Services</a></li>
				<li><a href="#">Contact</a></li>
			  </ul>
			</li>
		  </ul>
		</div>
	</nav>
	<section>
		{% block content %}
			<div id ="capture">
				<div class="tbl-header">
					<table cellpadding="0" cellspacing="0" border="0">
					  <thead>
						<tr>
							<th>MAC</th>
							<th>Num.Paquetes por nodo</th>
							<th>IP</th>
						</tr>
					  </thead>
					</table>
			  </div>
			  <div class="tbl-content">
				<table cellpadding="0" cellspacing="0" border="0">
				  <tbody>
					{% for key, value in nodos.items %}
					<tr>
						<th class="text-left">{{ value.mac }}</th>
						<th class="text-left">{{ value.count }}</th>
						<th class="text-left">{{ value.ipS }}</th>
					</tr>
					{% endfor %}
				  </tbody>
				</table>
			  </div>
			</div>

		{% endblock %}
	</section>
	<aside>
		<form method="post" action="/PFScan/filters/">
			{% csrf_token %}
			<input type= "submit" id = "home" value ="Inicio" name="ini"/>
			<input type= "submit" id = "filter" value ="Filtros" name="filter"/>
		</form>

	</aside>
	<footer>
		<script>
			$(document).ready(function() {
				  var refreshId =  setInterval( function(){
				$('#capture').load('/PFScan/');//actualizas el div
			   }, 1000 );
			});
		</script>
		<script src="{% static 'crono.js' %}"></script>
		{% block javascript %}{% endblock %}
	</footer>
</body>
</html>
