{% load static %}
<html xmlns="http://www.w3.org/1999/html">
<head>
	<title>{% block title %}Escáner Pasivo de Red{% endblock %}</title>
	<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
	{% block stylesheet %}{% endblock %}
</head>
<body>
<header><h1>Escáner Pasivo</h1></header>
	<nav>
		<form method="POST" action="/PFScan/" name="cron" id="cap">
			{% csrf_token %}
			<input type= "submit" id = "save" value ="Capturar" name="capture"/>
			<input type= "submit" id = "cancel" value ="Detener" name="stop"/>
		</form>
		{% if not time %}
		<div id="reloj">{{ time }}</div>
		{% else %}
		<div id="reloj">
			Tiempo total de la captura:</br>
			{{ time }}
		</div>
		{% endif %}
	</nav>
	<section>
		{% block content %}
			<div id ="capture">
				<h1 id="cTable">Nodos encontrados</h1>
				{% if not nodos %}
					{{ mensaje }}
				{% endif %}
				<div class="tbl-header">
					<table cellpadding="0" cellspacing="0" border="0">
					  <thead>
						<tr>
							<th>MAC</th>
							<th>Num.Paquetes por nodo</th>
							<th>IP</th>
						</tr>
					  </thead>
					</table>
			  </div>
			  <div class="tbl-content" id="tbl-content">
				<table cellpadding="0" cellspacing="0" border="0" id="red">
				  <tbody>
					{% for key, value in nodos.items %}
					<tr>
						<th class="text-left">{{ value.mac }}</th>
						<th class="text-left">{{ value.count }}</th>
						<th class="text-left">{{ value.ipS }}</th>
					</tr>
					{% endfor %}
				  </tbody>
				</table>
			  </div>
			</div>

		{% endblock %}
	</section>
	<aside>
		<form method="post" action="/PFScan/">
			{% csrf_token %}
			<input type= "submit" id = "home" value ="Inicio" name="ini"/>
			<input type= "submit" id = "filter" value ="Filtros" name="filter"/>
		</form>

	</aside>
	<footer>
		<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
		<script>
			$(document).ready(function () {
    			var table = $('#tbl-content').val();
    			$("#tbl-content").load("{% url 'refresh' %} #red");
    				setInterval(function () {
        				//table.load("{% url 'refresh' %}");
		    			$("#tbl-content").load("{% url 'refresh' %} #red");
						//window.alert("pililas");
    			}, 9000);
			});
		</script>
		<script src="{% static 'crono.js' %}"></script>
		{% block javascript %}{% endblock %}
	</footer>
</body>
</html>
